body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

header {
    background-color: #6c00ac;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 1rem;
    text-align: center;
}

.main-header {
    text-shadow: 2px 2px 5px black;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #6c00ac;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 1rem;
    text-align: center;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.search-container, .auth-container {
    padding: 2rem;
    text-align: center;
    margin: auto;
}

.search-container input, .search-container select, .auth-container input {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
}

#searchInput {
    border-style: inherit;
    border-radius: 20px;
    width: 44%;
    box-shadow: 2px 1px 7px black;
}

#fieldSelect, #search-button {
    font-size: small; 
    width: auto; 
    background-color: #f9f9f9; 
    border-style: inherit;
    border-radius: 5px;
    box-shadow: 0px 0px 1.5px #404040;    
}

#search-button {
    text-align: center;
    width: 60px;
}

.lawyer-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.lawyer-card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.lawyer-card h3 {
    margin-top: 0;
}

#lawyerDetail {
    display: none;
    background: white;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#backButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.register {
    padding: 0.5rem;
    text-align: right;
    padding-right: 1rem;
}

.bureau-link {
    color: #6c00ac;
    text-decoration: underline;
    cursor: pointer;
}

.bureau-list {
    padding: 3rem 2rem;
}

.logout-button {
    margin-left: 1rem;
    background: #6c00ac;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}